Repository AmbitiousRealism2025/HydroCav_Landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: Complete Phase 5B User Experience Testing with comprehensive UX framework
  PHASE_5B_COMPLETION_SUMMARY.md
  assets/js/ux-enhancements.js
  index.html
  tests/ux/accessibility-ux.test.js
  tests/ux/design-system-ux.test.js
  tests/ux/performance-ux.test.js
  tests/ux/user-workflow.test.js
Due: eslint --fix, prettier --write

feat: Phase 6A-P1 - Production build and test validation
  BUBBLE_ANIMATION_FIX.md
  Claude_TDD_Implementation_Plan_v2.md
  HydroCav_Hosting_Cost_Analysis_2025.md
  HydroCav_Hosting_Migration_Roadmap.md
  JEST_TESTING_FRAMEWORK_STATUS.md
  PHASE_4_COMPLETION_SUMMARY.md
  PHASE_5B_COMPLETION_SUMMARY.md
  babel.config.cjs
  jest.config.cjs
Due: none

docs: Update Phase 6A Priority 1 completion status and next steps
  Claude_TDD_Implementation_Plan_v2.md
Due: none

feat: Phase 6A-P2 - Deployment checklist generation and infrastructure
  Archive/chat_summaries/audio_hooks_implementation_status.md
  Archive/chat_summaries/claude_session_notes.md
  Archive/chat_summaries/gemini_session_notes.md
  Archive/chat_summaries/phase2a_implementation_and_documentation.md
  Archive/jules_reviews/Jules_Codebase-review.md
  Archive/jules_reviews/Jules_PhaseIII-review.md
  Archive/peer_reviews/Gemini-Claude_Work-review.md
  Archive/peer_reviews/HYDROCAV_CODE_REVIEW_PLAN.md
  Archive/project_status_docs/Advanced_System_Features_Polish.md
  Archive/project_status_docs/BUBBLE_ANIMATION_FIX.md
  Archive/project_status_docs/JEST_TESTING_FRAMEWORK_STATUS.md
  Archive/project_status_docs/frosted_glass_navigation_status.md
  Legacy_Docs/Jules_Implementation_Plan_TestDriven_v2.md
  Legacy_Docs/PHASE_4_COMPLETION_SUMMARY.md
  Legacy_Docs/PHASE_5B_COMPLETION_SUMMARY.md
  Legacy_Docs/hydroloop_implementation_plan.md
  Legacy_Docs/hydroloop_tdd_architecture_plan.md
  Legacy_Docs/hydroloop_test_plans.md
  Legacy_Docs/product_showcase_design_plan.md
  Phase_Documents/phase1_comprehensive_review.md
  Phase_Documents/phase1_review_plan.md
  Phase_Documents/phase2b_implementation_summary.md
  Phase_Documents/phase3_comprehensive_review.md
  Phase_Documents/phase3_navigation_enhancements_summary.md
  Phase_Documents/phase3_ui_ux_enhancement_plan.md
  assets/css/style.css.backup
  assets/html/50-50_copy_HydroLoop.html
  backend_implementation_plan.md
  index-backup.html
  jest.config.js
  product_showcase_design_plan.md
Due: eslint --fix, prettier --write

docs: Update TDD Implementation Plan v2 with Phase 6A completion
  Claude_TDD_Implementation_Plan_v2.md
Due: none

fix: Improve test coverage from 51% to 62% - ES6 module fixes
  tests/security/csrf-protection.test.js
  tests/security/xss-protection.test.js
  tests/setup.js
Due: eslint --fix, prettier --write

docs: Complete production deployment documentation cleanup
  ADMIN_GUIDE.md
  Archive/build_config/babel.config.cjs
  Archive/build_config/eslint.config.js
  Archive/build_config/jest.config.cjs
  Archive/database_setup/supabase_business_features_setup.sql
  Archive/database_setup/supabase_email_setup.sql
  Archive/development_docs/CODE_QUALITY_GUIDE.md
  Archive/development_docs/Claude_TDD_Implementation_Plan_v2.md
  Archive/development_docs/QWEN.md
  Archive/development_docs/TDD_QUICK_REFERENCE.md
  Archive/development_docs/Test_Requirements_Phase_Gates.md
  Archive/development_docs/ULTRATHINK_Code_Assessment_Plan.md
  Archive/development_docs/code_to_convert.md
  Archive/development_docs/git_setup_guide.md
  CLAUDE.md
  DEPLOYMENT_CHECKLIST.md
  README.md
  USER_GUIDE.md
  index.html
  monitoring-alerts.js
  tests/security/csrf-protection.test.js
  tests/security/xss-protection.test.js
  tests/setup.js
  tests/ux/performance-ux.test.js
  tests/visual/glass-effects.test.js
  tests/visual/typography.test.js
Due: eslint --fix, prettier --write

docs: Update documentation with cleanup completion status
  CLAUDE.md
  DEPLOYMENT_CHECKLIST.md
  SUPABASE_SETUP_GUIDE.md
Due: none

fix: Resolve critical admin dashboard security authentication issues
  admin.html
  assets/js/csrf-protection.js
  babel.config.cjs
  build.cjs
  jest.config.cjs
Due: eslint --fix, prettier --write

chore: Organize project structure for external review
  .env.example
  .gitignore
  Archive/external_reviews/FINAL_TEST_COVERAGE_REPORT.md
  Archive/external_reviews/Jules-CR_observations.md
  Archive/external_reviews/PRE_DEPLOYMENT_CODE_REVIEW.md
  Archive/external_reviews/README.md
  Archive/external_reviews/TEST_IMPROVEMENT_PLAN.md
  Archive/external_reviews/TEST_IMPROVEMENT_RESULTS.md
  CLAUDE.md
  DEPLOYMENT_CHECKLIST.md
  README.md
  index.html
  package.json
  tests/security/csrf-protection.test.js
  tests/security/xss-protection.test.js
  tests/setup.js
  tests/ux/design-system-ux.test.js
  tests/ux/performance-ux.test.js
  tests/ux/user-workflow.test.js
Due: eslint --fix, prettier --write

docs: Add review branch information for external assessment
  REVIEW_BRANCH_INFO.md
Due: none

fix: CRITICAL - Resolve XSS vulnerability by replacing weak sanitization
  .DS_Store
  GEMINI.md
  Remediation_Guide.md
  admin.html
  assets/js/security.js
  tests/security/xss-vulnerability.test.js
Due: eslint --fix, prettier --write

fix: CRITICAL - Implement server-side CSRF validation with Edge Function
  assets/js/security.js
  supabase/functions/DEPLOYMENT_GUIDE.md
  supabase/functions/_shared/cors.ts
  supabase/functions/contact-form/config.toml
  supabase/functions/contact-form/index.ts
Due: eslint --fix, prettier --write

fix: Remove IP address storage for complete privacy compliance
  assets/js/security.js
  supabase/functions/contact-form/index.ts
  supabase_privacy_update.sql
  supabase_setup.sql
Due: eslint --fix, prettier --write

feat: PHASE 5A - Extract inline JavaScript from index.html
  assets/js/app-init.js
  assets/js/contact-form.js
  assets/js/monitoring-init.js
  index.html
Due: eslint --fix, prettier --write

feat: PHASE 5B - Extract massive inline JavaScript from admin.html
  admin.html
  assets/js/admin-dashboard.js
  assets/js/admin-security-init.js
Due: eslint --fix, prettier --write

feat: Complete Phase 5 CSP hardening - remove unsafe-inline
  admin.html
  assets/js/admin-dashboard.js
  assets/js/contact-form.js
  assets/js/monitoring-alerts.js
  index.html
  tests/security/csp-compliance.test.js
  tests/setup.js
Due: eslint --fix, prettier --write

fix: Address critical ESLint issues after CSP implementation
  assets/js/admin-dashboard.js
  assets/js/admin-security-init.js
  assets/js/app-init.js
  assets/js/contact-form.js
  assets/js/monitoring-alerts.js
  assets/js/monitoring-init.js
  assets/js/security.js
  tests/security/csp-compliance.test.js
  tests/security/csrf-protection.test.js
  tests/security/xss-protection.test.js
  tests/security/xss-vulnerability.test.js
  tests/setup.js
  tests/ux/design-system-ux.test.js
Due: eslint --fix, prettier --write

docs: Add comprehensive technical debt documentation
  CODE_QUALITY_DEBT.md
Due: none

docs: Complete Phase 7 security documentation update
  README.md
  SECURITY_STATUS_REPORT.md
  tests/security/xss-validation.test.js
  tests/security/xss-vulnerability.test.js
Due: eslint --fix, prettier --write

feat: Phase VII - Critical Fixes & Production Readiness
  CLAUDE.md
  DEPLOYMENT_CHECKLIST.md
  EDGE_FUNCTION_DEPLOYMENT.md
  README.md
  SECURITY_STATUS_REPORT.md
  admin.html
  assets/js/admin-dashboard.js
  assets/js/config.js
  assets/js/contact-form.js
  assets/js/security.js
  assets/js/ux-enhancements.js
  assets/js/xss-protection.js
  hydroloop.html
  index.html
  supabase/functions/contact-form/index-clean.ts
  supabase/functions/contact-form/index.ts
  tests/security/xss-protection.test.js
  tests/ux/user-workflow.test.js
Due: eslint --fix, prettier --write

docs: Add post-deployment tasks document
  post_deploy-tasks.md
Due: none

docs: Add code review report and Hostinger deployment guide
  HOSTINGER_DEPLOYMENT_GUIDE.md
  code_review_report.md
  deployment_guide.md
Due: none

🔒 SECURITY: Address all critical code review concerns
  SECURITY_ARCHITECTURE.md
  admin.html
  index.html
Due: prettier --write

docs: Update all deployment documentation to reflect production-ready status
  Archive/deployment_prep/CODE_QUALITY_DEBT.md
  Archive/deployment_prep/HOSTINGER_DEPLOYMENT_GUIDE.md
  Archive/deployment_prep/PRE_DEPLOYMENT_REPORT.md
  Archive/deployment_prep/REVIEW_BRANCH_INFO.md
  Archive/deployment_prep/code_review_report.md
  Archive/deployment_prep/deployment_guide.md
  Archive/deployment_prep/post_deploy-tasks.md
  Archive/security_docs/Remediation_Guide.md
  Archive/security_docs/SECURITY_ARCHITECTURE.md
  Archive/security_docs/SECURITY_STATUS_REPORT.md
  DEPLOYMENT_CHECKLIST.md
  EDGE_FUNCTION_DEPLOYMENT.md
  GEMINI.md
  README.md
Due: none

feat: Production build and Hostinger deployment preparation
  hydrocav-deployment.zip
Due: none

feat: Add GitHub Actions workflow for automated Hostinger deployment
  .github/workflows/SETUP_SECRETS.md
  .github/workflows/deploy.yml
Due: none

fix: Add missing monitoring JavaScript files to fix UI issues
  assets/js/error-tracking.js
  assets/js/health-monitoring.js
  assets/js/performance-monitoring.js
Due: eslint --fix, prettier --write

fix: Update FTP deployment configuration for better Hostinger compatibility
  .github/workflows/deploy.yml
Due: none

fix: Fix CSS parsing error causing liquid glass styles to break
  assets/css/style.css
Due: prettier --write

fix: Correct FTP deployment path to public_html directory
  .github/workflows/deploy.yml
Due: none

fix: Remove invalid Tailwind CSS integrity hash
  admin.html
  index.html
Due: prettier --write

docs: Update all project documentation with production crisis resolution
  .DS_Store
Due: none

fix: Temporarily disable conflicting modules to preserve liquid glass UI
  index.html
Due: prettier --write

docs: Add comprehensive staging environment and module conflict resolution plan
  STAGING_ENVIRONMENT_PLAN.md
Due: none

docs: Add comprehensive GoDaddy to Hostinger domain setup guide
  DOMAIN_SETUP_GUIDE.md
Due: none

docs: Add security reversals documentation
  SECURITY_REVERSALS_LOG.md
Due: none

fix: ESLint compliance for contact form
  assets/js/contact-form.js
Due: eslint --fix, prettier --write

feat: Complete admin dashboard UI overhaul and contact detail modal
  CLAUDE.md
  admin.html
  assets/js/admin-dashboard.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs}
  prettier --write: (any of: *.{js,mjs}) or (any of: *.{css,html})
